--- 
option_settings: 
  - option_name: DYNATRACE_ONEAGENT_DOWNLOAD
    value: YOURFULLONEAGENTDOWNLOADURL

files: 
  /opt/elasticbeanstalk/hooks/appdeploy/pre/01_dynatrace_install.sh: 
    config: |
        DYNATRACE_ONEAGENT_DOWNLOAD=$(/opt/elasticbeanstalk/bin/get-config environment -k DYNATRACE_ONEAGENT_DOWNLOAD --output YAML | awk '/DYNATRACE_ONEAGENT_DOWNLOAD/ {print $2}')
        if [ \"x$DYNATRACE_ONEAGENT_DOWNLOAD\" == \"x\" ]
        then
          DYNATRACE_ONEAGENT_DOWNLOAD=$(/opt/elasticbeanstalk/bin/get-config environment -k DYNATRACE_ONEAGENT_DOWNLOAD)
        fi
        [ \"x$DYNATRACE_ONEAGENT_DOWNLOAD\" == \"x\" ] && echo \"Need to set DYNATRACE_ONEAGENT_DOWNLOAD\" && remove_me && quit;
        echo \"Trying to download Dynatrace OneAgent...\"
        if which curl >/dev/null;
        then
          curl_output=$(curl -L -o /tmp/Dynatrace-OneAgent-Linux.sh $DYNATRACE_ONEAGENT_DOWNLOAD)
          [ $? -ne 0 ] && echo \"curl failed! - $curl_output\" && remove_me && quit;
        elif which wget >/dev/null;
        then
          wget_output=$(wget --no-check-certificate -O /tmp/Dynatrace-OneAgent-Linux.sh $DYNATRACE_ONEAGENT_DOWNLOAD)
          [ $? -ne 0 ] && echo \"wget failed! - $wget_output\" && remove_me && quit;
        else
          echo \"No wget or curl found to download Dynatrace OneAgent\"
          remove_me
          quit
        fi
        echo \"Trying to install Dynatrace OneAgent...\"
        chmod 755 /tmp/Dynatrace-OneAgent-Linux.sh
        chown root:root /tmp/Dynatrace-OneAgent-Linux.sh
        /tmp/Dynatrace-OneAgent-Linux.sh APP_LOG_CONTENT_ACCESS=1
    group: root
    mode: "000755"
    owner: root