option_settings:
  - option_name: RUXIT_TENANT
    value: hci34192
  - option_name: RUXIT_TOKEN
    value: KUzgg9KD2ooykvIy

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_dynatrace_install.sh":
    mode: "000755" 
    owner: root 
    group: root 
    source: http://download.ruxit.com/scripts/beanstalk_ruxit_install.sh